{% extends 'store/base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<section class="about-section">
    <div class="about-container">
        <div class="about-text">
            <h2>О нашей сыроварне</h2>
            <p>Мы — семейная сыроварня с многолетними традициями. Наши сыры производятся с любовью и заботой, в каждый продукт мы вкладываем душу. Мы использовали рецепты, передававшиеся из поколения в поколение, и всегда стремимся сохранить неповторимый вкус, который удовлетворит самых взыскательных гурманов.</p>
        </div>
        <div class="about-image">
            <img src="https://avatars.mds.yandex.net/i?id=975ae40c9d46ca854863c8d070c45561ec24e970-9381177-images-thumbs&n=13" alt="Сыроварня">
        </div>
    </div>

    <div class="about-details">
        <h3>Наша миссия</h3>
        <p>Нашей целью является создание качественного, натурального сыра, который будет радовать вас своим вкусом и ароматом. Мы придерживаемся принципов экологичности, поэтому наши сыры производятся только из натурального молока, без добавок и консервантов.</p>

        <h3>Наши ценности</h3>
        <ul>
            <li>Качество</li>
            <li>Экологичность</li>
            <li>Традиции</li>
            <li>Честность</li>
        </ul>
    </div>
</section>
{% endblock %}